@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #fff;
  background-color: #111423;
  min-height: 100dvh;
}

body {
  display: flex;
  justify-content: center;
  height: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}