@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #fff;
  background-color: #111423;
  min-height: 100dvh;
}

body {
  display: flex;
  justify-content: center;
  height: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #171837;
}

::-webkit-scrollbar-thumb {
  background: #5136ed;
}

::-webkit-scrollbar-thumb:hover {
  background: #9b9bed;
}